body, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section, a, span, label, em, strong, b, i, del {
    margin: 0;
    padding: 0;
    font: 12px/16px microsoft yahei, Verdana, Arial;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 13px;
    line-height: 16px;
    /*font-family: 'microsoft yahei', Verdana, Arial;*/
    font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
    border-color: #939393;
    border-width: thin;
    -webkit-tap-highlight-color:transparent;

}
body {
    /*min-width: 320px;*/
    /*max-width: 640px;*/
}
a {
    color: #313131;
    cursor: pointer;
    text-decoration: none;
}

a:link {
    color: #313131;
}

div {
    cursor: pointer;
    box-sizing: border-box;
}

div .toast {
    z-index: 999;
    padding: 20px 30px;
    border: 1px solid #333;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    -webkit-transform: translate(-50%, -45%);
    background-color: #333;
    opacity: 0.8;
    display: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    min-width: 126px;
    max-width: 196px;
}





