/* CSS Document */
@import url("reset.css");
body{
	font: 12px/1 Helvetica,Arial,"Microsoft YaHei",sans-serif;
	box-sizing: border-box;
}
.header{
	padding-bottom: 40px;
	margin-bottom: 10px;
}
.h-wrap{
	float: left;
	width: 100%;
	height: 41px;
	padding-top: 10px;
	border-bottom: 1px solid skyblue;
	background-color: white;
	position: fixed;
}
.h-l{
	float: left;
	width: 50%;
}
.h-r{
	float: right;
	width: 50%;
}
.header input{
	padding: 8px ;
	font-size: 12px;
	display: block;
	overflow: hidden;
}
.sub1{
	float: right;
	color: skyblue;
	border: 1px solid skyblue;
	background-color: white;
	border-radius: 3px 0 0 3px;
}
.sub2{
	float: left;
	color: skyblue;
	border: 1px solid skyblue;
	background-color: white;
	border-radius: 0 3px 3px 0;
}
.s-cur{
	color: white;
	background-color: skyblue;
}
.main{
	width: 94%;
	padding: 15px 3% 15px 3%;
	float: left;
}
.main-a{
	width: 100%;
	margin-bottom: 10px;
	float: left;
	background-color: #fff;
}
.m-l{
	float: left;
	width: 79%;
	padding-left:7px;
	border: 1px solid #E5360D;
	background-color: #E5360D;
	color: white;
}
.m-l-t{
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
}
.m-l-m{
	line-height: 22px;
	font-size: 12px;
}
.m-l-b{
	height: 22px;
	line-height: 15px;
	font-size: 12px;
}
.m-r{
	float: left;
	width: 17%;
	line-height: 74px;
	text-align: center;
	font-size: 14px;
	color: #E5360D;
	border:1px solid #E5360D;
}
